body[data-theme="acme"] {
  --color-bpd: #ebebce;
  --color-bpl: #ffffea;
  --color-tpl: #515151;
  --color-thd: #424242;
  --color-bhd: #e5e0d1;
  --color-bin: #dcdabf;
  --color-bocb: #dedede;
  --color-ocpl: #515151;
  --color-occlp: #4b7f84;
  --color-occls: #ababab;
  --color-ocaxis: #4b7f84;
  --color-tok: #5cb05b;
  --color-bok: #5cb05b;
  --color-bokt: #ffffff;
  --color-ring-progress-bar-good: #5cb05b;
  --color-tno: #a65b0f;
  --color-bno: #a65b0f;
  --color-bse: hsl(0deg 0.21% 71.28%);
  --color-bpd2: #cecece;
  --color-bbp: #c5b8de;
  --color-notification-panel-relative-date: var(----color-gray-light4);
  --color-bgt: var(--color-black);
  --color-bdat: #ffffff;
  --color-bsp: #000000;
  --color-ths: #000000;
  --object-action-manager-feedback-date-fg: #8d5c00;
  --object-action-manager-feedback-message-fg: #bb7200;
  --color-graph-edge-selected: #515151;
}
