body[data-theme="indigo"] {
	--color-bbp: var(--color-purple-light);
	--color-bexpander: var(--color-purple-light);
	--color-bhd: var(--color-cyan-light);
	--color-bin: var(--color-brown-light);
	--color-bocb: #242140;
	--color-bopl: var(--color-cyan-light2);
	--color-bpd2: var(--color-indigo-dark2);
	--color-bpd: var(--color-indigo-dark);
	--color-bpl: var(--color-indigo-light);
	--color-bse: var(--color-gray-light);
	--color-bsp: var(--color-gray-light2);
	--color-button-regular-bg: var(--color-purple-light);
	--color-input-bg: var(--color-brown-light);
	--color-tbp: var(--color-purple-light);
	--color-tin: var(--color-brown-light);
	--color-tse: var(--color-gray-light);
	--color-bgt: var(--color-black);
}
